.colorHeart {
  color: #da0037;
}

.content {
  min-height: 20rem;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Markdown content styles */
article img {
  max-width: 100%;
  height: auto;
}

article pre {
  overflow-x: auto;
}

article code {
  padding: 0.2em 0.4em;
  border-radius: 3px;
}